<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this config -->
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <typeAliases>
        <!-- po -->
        <typeAlias alias="Film" type="com.app.mvc.acl.po.Film"/>
        <typeAlias alias="Novel" type="com.app.mvc.acl.po.Novel"/>
        <typeAlias alias="NovelPage" type="com.app.mvc.acl.po.NovelPage"/>
        <typeAlias alias="Picture" type="com.app.mvc.acl.po.Picture"/>
        <typeAlias alias="FilmRegex" type="com.app.mvc.acl.po.FilmRegex"/>
        <typeAlias alias="NovelRegex" type="com.app.mvc.acl.po.NovelRegex"/>
        <typeAlias alias="PictureRegex" type="com.app.mvc.acl.po.PictureRegex"/>
        <typeAlias alias="LookValue" type="com.app.mvc.acl.po.LookValue"/>
        <typeAlias alias="User" type="com.app.mvc.acl.po.User"/>
        <typeAlias alias="SpiderData" type="com.app.mvc.acl.po.SpiderData"/>
        <!-- condition -->
        <typeAlias alias="FilmCondition" type="com.app.mvc.acl.condition.FilmCondition"/>
        <typeAlias alias="PictureCondition" type="com.app.mvc.acl.condition.PictureCondition"/>
        <typeAlias alias="NovelCondition" type="com.app.mvc.acl.condition.NovelCondition"/>
        <typeAlias alias="PictureRegexCondition" type="com.app.mvc.acl.condition.PictureRegexCondition"/>
        <typeAlias alias="FilmRegexCondition" type="com.app.mvc.acl.condition.FilmRegexCondition"/>
        <typeAlias alias="NovelRegexCondition" type="com.app.mvc.acl.condition.NovelRegexCondition"/>
        <typeAlias alias="LookValueCondition" type="com.app.mvc.acl.condition.LookValueCondition"/>
        <typeAlias alias="UserCondition" type="com.app.mvc.acl.condition.UserCondition"/>
        <typeAlias alias="SpiderCondition" type="com.app.mvc.acl.condition.SpiderCondition"/>
    </typeAliases>

</configuration>