<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mvc.acl.dao.FilmDao">

    <sql id="filmColumns">
      film_id as filmId,
      film_type as filmType,
      film_name as filmName,
      title_img as titleImg,
      content_img as contentImg,
      xfplay,
      http,
      ed2k,
      thunder,
      qqdl,
      flashget,
      title_resource_id as titleResourceId,
      content_resource_id as contentReourceId,
      click_amount as clickAmount,
      create_date as createDate,
      ENABLE_FLAG as enableFlag
    </sql>

    <insert id="saveFilm" parameterType="Film" useGeneratedKeys="true" keyColumn="filmId">
        INSERT INTO lgw_film(film_type,film_name,title_img,content_img,xfplay,http,ed2k,thunder,qqdl,flashget,click_amount,create_date,ENABLE_FLAG)
        VALUES (#{filmType},#{filmName},#{titleImg},#{contentImg},#{xfplay},#{http},#{ed2k},#{thunder},#{qqdl},#{flashGet},#{clickAmount},#{createDate},#{enableFlag})
        <selectKey resultType="int" order="AFTER" keyProperty="filmId">
            SELECT LAST_INSERT_ID() AS filmId
        </selectKey>
    </insert>

    <update id="updateFilm" parameterType="Film">
        UPDATE lgw_film
        SET film_type=#{filmType},
        film_name=#{filmName},
        title_img=#{titleImg},
        content_img=#{contentImg},
        xfplay=#{xfplay},
        http=#{http},
        ed2k=#{ed2k},
        thunder=#{thunder},
        qqdl=#{qqdl},
        flashget=#{flashGet},
        clickamount=#{clickAmount},
        ENABLE_FLAG=#{enableFlag}
        WHERE film_id=#{filmId}
    </update>

    <select id="findById" resultType="Film" parameterType="int">
        SELECT
        <include refid="filmColumns"/>
        FROM  lgw_film
        WHERE film_id=#{filmId}
    </select>

    <select id="selectFilmTypeOrName" resultType="Film" parameterType="FilmCondition">
        SELECT
         <include refid="filmColumns"/>
         ,lv.CODE_VALUE as codeValue
        FROM  lgw_film film
        LEFT  JOIN lgw_look_value lv ON lv.LOOK_CODE=film.FIlM_TYPE AND lv.LOOK_TYPE='FILM_TYPE'
        <include refid="queryConditions"/>
         ORDER BY create_date DESC
        <if test="filmCondition.clickFlag=='Y'.toString()">
            ,click_amount DESC
        </if>
        limit #{filmCondition.offset},#{filmCondition.pageSize}
    </select>

    <select id="countByFilm" resultType="int" parameterType="String">
        SELECT COUNT(1)
        FROM lgw_film
        <include refid="queryConditions"/>
    </select>

    <sql id="queryConditions">
        <where>
            <if test="filmCondition.filmName!=null and filmCondition.filmName!=''">
              AND   film_name LIKE '%' || #{filmCondition.filmName} || '%'
            </if>
            <if test="filmCondition.filmType!=null and filmCondition.filmType!=''">
              AND  film_Type=#{filmCondition.filmType}
            </if>
            <if test="filmCondition.startDate!=null and filmCondition.startDate!=''">
                AND  create_date &gt;=#{filmCondition.startDate}
            </if>
            <if test="filmCondition.endDate!=null and filmCondition.endDate!=''">
                AND  create_date &lt;=#{filmCondition.endDate}
            </if>
        </where>
    </sql>

</mapper>