<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mvc.acl.dao.FilmRegexDao">

    <sql id="FilmRegexColumns">
       film_regex_id AS filmRegexId,
       title_regex as titleRegex,
       type_regex as type_regex,
       title_img_regex AS titleImgRegex,
       content_img_regex AS contentImgRegex,
       xfplay_regex as xfplayRegex,
       http_regex as httpRegex,
       ed2k_regex AS ed2kRegex,
       qqdl_regex AS qqdlRegex,
       flashget_regex AS flashgetRegex,
       THUNDER_REGEX as tunderRegex,
       description,
       CREATION_DATE AS creationDate
    </sql>

    <insert id="saveFilmRegex" parameterType="FilmRegex"  useGeneratedKeys="true" keyProperty="filmRegexId">
        INSERT INTO lgw_film_regex(TITLE_REGEX,TYPE_REGEX,TITLE_IMG_REGEX,CONTENT_IMG_REGEX,XFPLAY_REGEX,HTTP_REGEX,ED2K_REGEX,QQDL_REGEX
        ,FLASHGET_REGEX,THUNDER_REGEX,DESCRIPTION,CREATION_DATE)
        VALUES (#{titleRegex},#{typeRegex},#{titleImgRegex},#{contentImgRegex},#{xfplayRegex},#{httpRegex},#{ed2kRegex},#{qqdlRegex}
        ,#{flashgetRegex},,#{tunderRegex},#{description},#{creationDate})
        <selectKey resultType="int" keyProperty="filmRegexId">
            SELECT  LAST_INSERT_ID() as filmRegexId
        </selectKey>
    </insert>

    <update id="updateFilmRegex" parameterType="FilmRegex">
        UPDATE  lgw_film_regex
        SET TITLE_REGEX=#{titleRegex}
        ,TYPE_REGEX=#{typeRegex}
        ,TITLE_IMG_REGEX=#{titleImgRegex}
        ,CONTENT_IMG_REGEX=#{contentImgRegex}
        ,XFPLAY_REGEX=#{xfplayRegex}
        ,HTTP_REGEX=#{httpRegex}
        ,ED2K_REGEX=#{ed2kRegex}
        ,QQDL_REGEX=#{qqdlRegex}
        ,FLASHGET_REGEX=#{flashgetRegex}
        ,THUNDER_REGEX=#{tunderRegex}
        ,description=#{description}
        WHERE FILM_REGEX_ID=#{filmRegexId}
    </update>

    <delete id="deleteFilmRegex" parameterType="int">
        DELETE  FROM  lgw_film_regex WHERE FILM_REGEX_ID=#{filmRegexId}
    </delete>

    <select id="findById" parameterType="int" resultType="FilmRegex">
        SELECT
        <include refid="FilmRegexColumns"/>
        WHERE FILM_REGEX_ID=#{filmRegexId}
    </select>

    <select id="searchFilmRegex" parameterType="FilmRegexCondition" resultType="FilmRegex">
        SELECT
         <include refid="FilmRegexColumns"/>
        FROM  lgw_film_regex
        ORDER BY CREATION_DATE DESC
        limit #{condition.offset},#{condition.pageSize}
    </select>

    <select id="countByFilmRegex"  parameterType="FilmRegexCondition" resultType="int">
        SELECT COUNT(1)
        FROM lgw_film_regex
    </select>
</mapper>