<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mvc.acl.dao.NovelDao">

    <sql id="novelColumns">
        novel_id as novelId,
        type_code as typeCode,
        title,
        file_name as fileName,
        resource_id AS resourceId,
        create_date as createDate
    </sql>

    <insert id="saveNovel" parameterType="Novel" useGeneratedKeys="true" keyColumn="novelId">
        INSERT  INTO lgw_novel(type_code,title,file_name,resource_id,create_date)
        VALUES(#{typeCode},#{title},#{fileName},#{resourceId},#{createDate})
        <selectKey resultType="int" order="AFTER" keyProperty="novelId">
            SELECT LAST_INSERT_ID() AS novelId
        </selectKey>
    </insert>

    <update id="updateNovel" parameterType="Novel">
        UPDATE lgw_novel
        SET type_code=#{typeCode},
        file_name=#{fileName},
        title=#{title},
        resource_id=#{resourceId}
        WHERE novel_id=#{novelId}
    </update>

    <select id="findById" parameterType="int" resultType="Novel">
        SELECT
        <include refid="novelColumns"/>
        FROM lgw_novel
        WHERE novel_id=#{novelId}
    </select>

    <select id="searchNovel" resultType="Novel"  parameterType="NovelCondition">
         SELECT
         <include refid="novelColumns"/>
         FROM  lgw_novel
         <include refid="queryCondition"/>
         ORDER BY create_date DESC
        limit #{condition.offset},#{condition.pageSize}
    </select>

    <select id="searchNovelUpAndDown" resultType="Novel" parameterType="NovelCondition">
        SELECT
        <include refid="novelColumns"/>
        FROM lgw_novel
        WHERE novel_id=(SELECT MAX(novel_id) FROM lgw_novel WHERE  novel_id &lt; #{condition.novelId}
        AND type_code= #{condition.type}
        ORDER BY create_date DESC LIMIT 1)
        UNION ALL
        SELECT
        <include refid="novelColumns"/>
        FROM lgw_novel
        WHERE novel_id=(SELECT MIN(novel_id) FROM lgw_novel WHERE  novel_id &gt; #{condition.novelId}
        AND type_code=#{condition.type}
        ORDER BY create_date DESC LIMIT 1)
    </select>

    <select id="countByNovel" resultType="int" parameterType="String">
        SELECT COUNT(1)
        FROM lgw_novel
        <include refid="queryCondition"/>
    </select>

    <sql id="queryCondition">
        <where>
            <if test="condition.title!=null and condition.title!=''">
                AND  title=#{condition.title}
            </if>
            <if test="condition.type!=null and condition.type!=''">
                AND  type_code=#{condition.type}
            </if>
        </where>
    </sql>
</mapper>






















