<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mvc.acl.dao.PictureRegexDao">

     <sql id="pictureRegexColumns">
         PICTURE_REGEX_ID as pictureRegexId,
         NAME_REGEX as nameRegex,
         TYPE_REGEX as typeRegex,
         IMG_REGEX as imgRegex,
         DESCRIPTION,
         CREATION_DATE as creationDate
     </sql>

    <insert id="savePictureRegex" parameterType="PictureRegex" useGeneratedKeys="true" keyColumn="pictureRegexId">
        INSERT INTO lgw_picture_regex(NAME_REGEX,TYPE_REGEX,IMG_REGEX,DESCRIPTION,CREATION_DATE)
        VALUES (#{nameRegex},#{typeRegex},#{imgRegex},#{description},#{creationDate})
        <selectKey  resultType="int" order="AFTER" keyProperty="pictureRegexId">
            SELECT  LAST_INSERT_ID() as pictureRegexId
        </selectKey>
    </insert>

     <update id="updatePictureRegex" parameterType="PictureRegex">
         UPDATE lgw_picture_regex
         SET NAME_REGEX=#{nameRegex}
         ,TYPE_REGEX=#{typeRegex}
         ,IMG_REGEX=#{imgRegex}
         ,DESCRIPTION=#{description}
         WHERE PICTURE_REGEX_ID=#{pictureRegexId}
     </update>

    <delete id="deletePictureRegex" parameterType="int">
        DELETE  FROM  lgw_picture_regex  WHERE  PICTURE_REGEX_ID=#{pictureRegexId}
    </delete>


    <select id="findById" parameterType="int" resultType="PictureRegex">
        SELECT
        <include refid="pictureRegexColumns"/>
        FROM lgw_picture_regex
        WHERE PICTURE_REGEX_ID=#{pictureRegexId}
    </select>

    <select id="searchPictureRegex" parameterType="PictureRegexCondition" resultType="PictureRegex">
        SELECT
        <include refid="pictureRegexColumns"/>
        FROM lgw_picture_regex
        <include refid="queryConditions"/>
        ORDER BY CREATION_DATE DESC
        limit #{condition.offset},#{condition.pageSize}
    </select>

    <select id="countByPictureRegex"  parameterType="PictureRegexCondition" resultType="int">
        SELECT COUNT(1)
        FROM lgw_picture_regex
        <include refid="queryConditions"/>
    </select>

    <sql id="queryConditions">
        <where>
            <if test="condition.description!=null and condition.description!=''">
                AND   description LIKE  CONCAT('%',#{condition.description},'%')
            </if>
            <if test="condition.startDate!=null and condition.startDate!=''">
                AND  create_date &gt;=#{filmCondition.startDate}
            </if>
            <if test="condition.endDate!=null and condition.endDate!=''">
                AND  create_date &lt;=#{filmCondition.endDate}
            </if>
        </where>
    </sql>

</mapper>